/*Font face gör så att jag kan välja ett nedladdat typsnitt*/
@font-face{
	/*Jag sätter in mitt egna typsnitt i en font family*/
	font-family:Menyer;
	/*Jag väljer vilket typsnitt som jag ska använda*/
	src: url('Righteous-Regular.ttf');
}
@font-face{
	font-family:bitar;
	src: url('PressStart2P-Regular.ttf');
}
/*Jag skapar en animation som heter teslakör och åker från högra sidan av skärmen till vänstra*/
@keyframes teslakör{
	from{
		right:0vw;
	}
	to{
		right:100vw;
	}
}
/*Jag gör så att alla av typen body har en svart bakgrund med en typ selektor*/
body{
	background-color:black;
}
/*Gör ändringar för alla av typen footer*/
footer{
	/*Gör så att bakgrunden på footer är mörkgrå med rgb färger*/
	background-color:rgb(20,20,20);
	/*All text inom footer är i mitten av footer*/
	text-align:center;
	/*Gör så att all text i footer är vit*/
	color:white;
	/*Gör så att elementen i footer har 5 pixlar i padding åt alla håll*/
	padding:5px;
	/*Gör så att footer har en grid area som heter Footer*/
	grid-area:Footer;
}
/*Gör ändringar för detta id med en id selektor*/
#wrapperIndex{
	/*Gör så att den visar sin grid om den har en*/
	display:grid;
	/*Gör så att det är 10 pixlars mellanrum mellan alla areor i griden*/
	grid-gap:10px;
	/*Gör så att griden har tre spalter fr är en relativ måttenhet för css-grid och 1fr är 1 fraction som ungefär betyder 1 del*/
	grid-template-columns: 0.5fr 1fr 0.8fr;
	/*Gör så att detta elementet har en grid med olika grid areor som har dessa specifika platserna i griden*/
	grid-template-areas:
	"head head head"
	"nav nav nav"
	"lokalmeny indexmitten indexbild"
	"Footer Footer Footer";
}
#hmeny{
	color:white;
	text-align:center;
	/*Gör så att elementet är 9% längre ifrån högra sidan av sitt föräldrar-element*/
	margin-right: 9%;
	/*Gör så att texten först och främst använder Menyer som font men om den inte är nedladdad så används sans-serif*/
	font-family:Menyer, sans-serif;
	/*Gör så att storleken på texten är 35 pixlar*/
	font-size:35px;
}
#MainHeader{
	display:grid;
	grid-template-columns:0.1fr 9.9fr;
	grid-area: head;
	/*Gör så att bakgrunden för detta elementet är en bild*/
	background:url("https://cdn.pixabay.com/photo/2020/02/22/17/53/communication-4871245_960_720.jpg");
	/*Gör så att bakgrundens position är i mitten av elementet*/
	background-position: center;
}
/*Gör så att alla div avkommor från id elementet är enligt följande krav, en så kallad avkomlingsselektor*/
#MainHeader div{
	text-align:center;
	background-color:rgb(0,0,0);
	padding:5px;
}
/*Gör så att alla länkar inom idt har dessa css egenskaperna*/
#MainHeader a{
	/*Texten har ingen dekoration t.ex. så att en länk inte är blå om man inte har besökt sidan innan*/
	text-decoration:none;
	font-family:Menyer, sans-serif;
	color:white;
	/*Den gör så att länkarna blir block som fyller hela rektangeln som är länkens område. Detta gör jag för att man inte ska behöva klicka exakt på texten utan också på området runt om och ändå klicka på länken*/
	display:block;
	padding:30px;
}
/*Gör ändringar för när man håller över länken med musen eller om man har fokus på länken med tangentbordet*/
#MainHeader a:hover, #MainHeader a:focus{
	background-color:white;
	color:black;
}
#meny{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-area:nav;
}
#meny div{
	text-align:center;
	background-color:rgb(0,0,0);
}
#meny a{
	display:block;
	font-family:Menyer, sans-serif;
	font-size:20px;
	text-decoration:none;
	color: white;
	padding:10px;
}
#meny a:hover, #meny a:focus{
	color: black;
	background-color: white;
}
/*Gör samma ändringar för flera olika id element samtidigt. För att inte behöva skriva exakt samma kod flera gånger. Med en gruppselektor*/
#formulärochlista, #lokalmenyAI, #lokalmenyDatorer, #lokalmenyMobilerochbild, #lokalmenyMerOmMobilerochlista{
	grid-area: lokalmeny;
	padding:0.5vw;
	background-color: rgba(203,203,203,0.8);
}
#formulärochlista div, #lokalmenyAI div, #lokalmenyDatorer div, #lokalmenyMobilerochbild div, #lokalmenyMerOmMobilerochlista div{
	text-align:center;
	background-color:#000000;
}
#formulärochlista a, #lokalmenyAI a, #lokalmenyDatorer a, #lokalmenyMobilerochbild a, #lokalmenyMerOmMobilerochlista a{
	text-decoration:none;
	display:block;
	color: white;
	padding:0.5em;
}
#formulärochlista a:hover, #lokalmenyAI a:hover, #lokalmenyDatorer a:hover, #lokalmenyMobilerochbild a:hover, #lokalmenyMerOmMobilerochlista a:hover, #formulärochlista a:focus, #lokalmenyAI a:focus, #lokalmenyDatorer a:focus, #lokalmenyMobilerochbild a:focus, #lokalmenyMerOmMobilerochlista a:focus{
	background-color:white;
	color:black;
}
/*Använde en syskonselektor för att sätta h2 i mitten*/
#formulärochlista div ~ h2{
	text-align:center;
}
/*Gör så att alla list items inom idt har dessa egenskaperna*/
#teknikområden li{
	/*Textens storlek är 1.5 rem som är 1.5 gånger storleken av rot-elementet*/
	font-size:1.5rem;
}
#mittenindex{
	grid-area:indexmitten;
	text-align:center;
	background-color:rgb(40,40,40);
}
#mittenindex p{
	color: white;
	/*Gör så att texten inom idt har marginal på 0.5 vw åt alla håll, 0.5vw är 0.5% av skärmens bredd åt*/
	margin:0.5vw;
}
/*Gör så att länken är vit när den har varit besökt och innan den har blivit besökt*/
#mittenindex a:visited, a:link{
	color:white;
}
/*Gör så att länken är grå när man håller över den och när den klickas*/
#mittenindex a:hover, a:active{
	color:grey;
}
#bildindex{
	grid-area:indexbild;
	text-align:center;
}
/*Barnselektor för att alla biler som är inuti idts element ska ha följande egenskaper.*/
#bildindex > img{
	/*Gör så att bildens bredd är 100% av föräldrar-elements bredd.*/
	width:100%;
	/*Gör så att bilden har rundade hörn som har radien 3 em som är 300% av typsnittets höjd*/
	border-radius:3em;
}
#HFormulär{
	color:white;
	text-align:center;
	font-family: Menyer, sans-serif;
}
#formulärheader{
	background-color:rgb(60,60,60);
	padding:2px;
	grid-area: Formulärheader;
}
/*Använde en class selektor för att göra ändringar på mainFormulär*/
.mainFormulär{
	background-color:rgb(40,40,40);
	grid-area:Mainformulär;
	text-align:center;
}
.mainFormulär div{
	margin:2%;
}
.mainFormulär label, #LegUppgifter, #LegFeedback{
	color:white;
}
#wrapperFormulär{
	display:grid;
	grid-gap:10px;
	grid-template-areas:
	"Formulärheader"
	"Mainformulär"
	"Footer";
}
#wrapperAI{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.5fr 1.3fr 0.5fr;
	grid-template-areas:
	"head head head"
	"nav nav nav"
	"lokalmeny ArtikelAI BildOchTextAI"
	"Footer Footer Footer";
}
#artikelAI{
	grid-area:ArtikelAI;
	background-color:rgb(40,40,40);
	padding:5px;
}
#BildochtextAI{
	grid-area:BildOchTextAI;
}
#BildochtextAI figcaption, #teslaBild figcaption{
	color:white;
}
#Atlas{
	width:100%;
}
#mittenindex, #artikelAI, #mainMerOmAI, #bilText, #datorerText, #codochtextMerOmDatorer, #textMobiler, #textMerOmMobiler{
	color:white;
	text-align:center;
}
#mainMerOmAI h2, #artikelAI h2{
	font-family: bitar , sans-serif;
}
#mittenindex p::first-letter, #mainMerOmAI p::first-letter, #artikelAI p::first-letter, #bilText p::first-letter, #datorerText p::first-letter, #codochtextMerOmDatorer p::first-letter, #textMobiler p::first-letter, #textMerOmMobiler p::first-letter{
	font-size:30px;
}
#wrapperMerOmAI{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.5fr 1.5fr;
	grid-template-areas:
	"head head"
	"nav nav"
	"lokalmeny MainMerOmAI"
	"Footer Footer ";
}
#mainMerOmAI{
	grid-area:MainMerOmAI;
	background-color:rgb(40,40,40);
}
#autopilotVideo{
	grid-area:YoutubeTesla;
	/*Anvädnder rgba för att välja färgen på bakgrunden rgba står för Red Green Blue Alpha och alpha är genomskinlighet där 0 är helt genomskinlig och 1 är helt synlig*/
	background-color: rgba(203,203,203,0.8);
}
/*Gör ändringar för iframe som är i idt*/
#autopilotVideo iframe{
	width:90%;
	height:80%;
	margin:5%;
}
#bilText{
	grid-area:BilText;
	padding:5px;
	background-color:rgb(40,40,40);
}
#teslaBild{
	grid-area:TeslaBild;
}
#tesla{
	width:100%;
	border-radius:2em;
	/*Gör så att positionen inte är fast utan kan ändras. Detta behöver jag på bilden för att kunna använda min teslakör animation som jag gjorde i början av css filen*/
	position:relative;
}
/*När man håller musen över bilden*/
#tesla:hover{
	/*Detta gör så att om du håller musen över bilden så körs animationen (teslakör) under en period på 5 sekunder*/
	animation:teslakör 5s;
}
#wrapperSjälvkörandebilar{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.8fr 1fr 0.8fr;
	grid-template-areas:
	"head head head"
	"nav nav nav"
	"YoutubeTesla BilText TeslaBild"
	"Footer Footer Footer";
}
#lokalmenyDatorer ul{
	/*Gör så att listan inte har några markeringar som t.ex. de romerska siffrorna jag har på första sidans lista*/
	list-style-type:none;
	margin-right:10%;
}
#datorerText{
	grid-area:DatorerText;
	padding:0.5vw;
	background-color:rgb(40,40,40);
}
#datorerTabell{
	grid-area:DatorerTabell;
	/*Gör så att tabellen har en ram som är en heltäckt linje och 3 pixlar bred.*/
	border:3px solid;
	color:white;
	/*Gör så att olika ramar sätts ihop så att det ser ut som samma ram*/
	border-collapse:collapse;
}
#datorerTabell th, td{
	border: 3px solid;
	padding:2ex;
	/*Gör så att texten är i toppen och mitten av varje tabell del*/
	vertical-align:top;
	text-align:center;
}
/*Gör så att alla jämna tabell raden och thead och tfoot har samma bakgrundsfärg*/
#datorerTabell tr:nth-child(even), #datorerTabell thead, #datorerTabell tfoot{
	/*Använde hsla för att bestämma bakgrundsfärgen hsla står för Hue Saturation Lightness Alpha där alpha betyder samma som på rgba*/
	background-color:hsla(0,0%,50%,1);
}
#wrapperDatorer{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.5fr 1.3fr 0.5fr;
	grid-template-areas:
	"head head head"
	"nav nav nav"
	"lokalmeny DatorerText DatorerTabell"
	"Footer Footer Footer";
}
#codochtextMerOmDatorer{
	grid-area:CODOchTextMerOmDatorer;
	padding:5px;
	background-color:rgb(40,40,40);
}
#cod{
	width:60%;
	/*Gör en transition för att göra videon bredare tills den blir 100% av föräldrar-elements bredd och det ska ta 2 sekunder att göra transitionen*/
	transition:width 2s;
}
#cod:hover{
	width:100%;
}
#wrapperMerOmDatorer{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.5fr 1.8fr;
	grid-template-areas:
	"head head"
	"nav nav"
	"lokalmeny CODOchTextMerOmDatorer"
	"Footer Footer";
}
#textMobiler{
	grid-area:TextMobiler;
	background-color:rgb(40,40,40);
	padding:5px;
}
#bildMobiler{
	grid-area:BildMobiler;
}
#iphonex{
	width:100%;
}
#gammalmobil{
	width:90%;
	margin:5%;
}
#wrapperMobiler{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.5fr 1.3fr 0.5fr;
	grid-template-areas:
	"head head head"
	"nav nav nav"
	"lokalmeny TextMobiler BildMobiler"
	"Footer Footer Footer";
}
/*Anvädnder angränsande syskonselektor för att sätta texten i mitten på h2*/
#lokalmenyMerOmMobilerochlista div + h2{
	text-align:center;
}
#textMerOmMobiler{
	grid-area:TextMerOmMobiler;
	background-color:rgb(40,40,40);
	padding:5px;
}
#bildMerOmMobiler{
	grid-area:BildMerOmMobiler;
}
#bildsmartphone{
	width:100%;
}
#wrapperMerOmMobiler{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.5fr 1.3fr 0.5fr;
	grid-template-areas:
	"head head head"
	"nav nav nav"
	"lokalmeny TextMerOmMobiler BildMerOmMobiler"
	"Footer Footer Footer";
}
/*Om skärmens bredd är mindre än 600px bred så gör den följande sakerna. Som i detta fallet är att ändra layouten för sidan så att de passar på en mobil. (Jag har testat så att det funkar med google chromes developer funktion och bytt till att köra sidan på en mobil)*/
@media screen and (max-width:600px){
	#wrapperIndex{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"indexmitten"
		"lokalmeny"
		"indexbild"
		"Footer";
	}
	#wrapperAI{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"lokalmeny"
		"ArtikelAI"
		"BildOchTextAI"
		"Footer";
	}
	#wrapperMerOmAI{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"lokalmeny"
		"MainMerOmAI"
		"Footer";
	}
	#wrapperSjälvkörandebilar{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"BilText"
		"YoutubeTesla"
		"TeslaBild"
		"Footer";
	}
	#wrapperDatorer{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"lokalmeny"
		"DatorerText"
		"DatorerTabell"
		"Footer";
	}
	#wrapperMerOmDatorer{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"lokalmeny"
		"CODOchTextMerOmDatorer"
		"Footer";
	}
	#wrapperMobiler{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"lokalmeny"
		"TextMobiler"
		"BildMobiler"
		"Footer";
	}
	#wrapperMerOmMobiler{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"lokalmeny"
		"TextMerOmMobiler"
		"BildMerOmMobiler"
		"Footer";
	}
	/*Gjorde så att animationen bara tar två sekunder om det är på en mobil istället för 5 sekunder eftersom det var för lång tid enligt mig.*/
	#tesla:hover{
	animation:teslakör 2s;
	}
}