body{
	background-color:black;
}
footer{
	background-color:rgb(20,20,20);
	text-align:center;
	color:white;
	padding:5px;
	grid-area:Footer;
}
#wrapperIndex{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.5fr 1fr 0.8fr;
	grid-template-areas:
	"head head head"
	"nav nav nav"
	"lokalmeny indexmitten indexbild"
	"Footer Footer Footer";
}
#hmeny{
	color:white;
	text-align:center;
	margin-right: 9%;
	font-family:Menyer, sans-serif;
	font-size:35px;
}
#MainHeader{
	display:grid;
	grid-template-columns:0.1fr 9.9fr;
	grid-area: head;
	background:url("https://cdn.pixabay.com/photo/2020/02/22/17/53/communication-4871245_960_720.jpg");
	background-position: center;
}
#MainHeader div{
	text-align:center;
	background-color:rgb(0,0,0);
	padding:5px;
}
#MainHeader a{
	text-decoration:none;
	font-family:Menyer, sans-serif;
	color:white;
	display:block;
	padding:30px;
}
#MainHeader a:hover{
	background-color:white;
	color:black;
}
#meny{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-area:nav;
}
#meny div{
	text-align:center;
	background-color:rgb(0,0,0);
}
#meny a{
	display:block;
	font-family:Menyer, sans-serif;
	font-size:20px;
	text-decoration:none;
	color: white;
	padding:10px;
}
#meny a:hover{
	color: black;
	background-color: white;
}
#formulärochlista, #lokalmenyAI{
	grid-area: lokalmeny;
	padding:5px;
	background-color: rgba(203,203,203,0.8);
}
#formulärochlista div, #lokalmenyAI div{
	text-align:center;
	background-color:#000000;
}
#formulärochlista a, #lokalmenyAI a{
	text-decoration:none;
	display:block;
	color: white;
	padding:5px;
}
#formulärochlista a:hover, #lokalmenyAI a:hover{
	background-color:white;
	color:black;
}
#indexlistarubrik{
	text-align:center;
}
#teknikområden li{
	font-size:20px;
}
#mittenindex{
	grid-area:indexmitten;
	text-align:center;
	background-color:rgb(40,40,40);
}
#mittenindex p{
	color: white;
	margin:5px;
}
#underrubrikindex{
	text-align:center;
	color:white;
}
#bildindex{
	grid-area:indexbild;
	display:block;
}
#raket{
	width:100%;
}
@font-face{
	font-family:Menyer;
	src: url('Righteous-Regular.ttf');
}
@font-face{
	font-family:bitar;
	src: url('PressStart2P-Regular.ttf');
}
#HFormulär{
	color:white;
	text-align:center;
	font-family: Menyer, sans-serif;
}
#formulärheader{
	background-color:rgb(60,60,60);
	padding:2px;
	grid-area: Formulärheader;
}
#mainFormulär{
	background-color:rgb(40,40,40);
	grid-area:Mainformulär;
	text-align:center;
}
#mainFormulär section{
	margin:2%;
}
#mainFormulär label, #LegUppgifter, #LegFeedback{
	color:white;
}
#wrapperFormulär{
	display:grid;
	grid-gap:10px;
	grid-template-areas:
	"Formulärheader"
	"Mainformulär"
	"Footer";
}
#wrapperAI{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.5fr 1.3fr 0.5fr;
	grid-template-areas:
	"head head head"
	"nav nav nav"
	"lokalmeny ArtikelAI BildOchTextAI"
	"Footer Footer Footer";
}
#artikelAI{
	grid-area:ArtikelAI;
	background-color:rgb(40,40,40);
	padding:5px;
}
#BildochtextAI{
	grid-area:BildOchTextAI;
}
#BildochtextAI figcaption{
	color:white;
}
#Atlas{
	width:100%;
}
#artikelAI h1, #artikelAI p{
	color:white;
	text-align:center;
}
#artikelAI h1{
	font-family: bitar , sans-serif;
}
#artikelAI p::first-letter, #mittenindex p::first-letter{
	font-size:30px;
}
#wrapperMerOmAI{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 0.5fr 1.5fr;
	grid-template-areas:
	"head head"
	"nav nav"
	"lokalmeny MainMerOmAI"
	"Footer Footer ";
}
#mainMerOmAI{
	grid-area:MainMerOmAI;
}
@media screen and (max-width:600px){
	#wrapperIndex{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"indexmitten"
		"lokalmeny"
		"indexbild"
		"Footer";
	}
	#wrapperAI{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"lokalmeny"
		"ArtikelAI"
		"BildOchTextAI"
		"Footer";
	}
	#wrapperMerOmAI{
		grid-template-columns:1fr;
		grid-template-areas:
		"head"
		"nav"
		"lokalmeny"
		"MainMerOmAI"
		"Footer";
	}
}